<div class="container">
  <h2 class="title py-4">Course Management
    <button class="btn btn-secondary" style="float:right" (click)="Add()">
      <span class="pi pi-plus" aria-hidden="true"></span> Add Course
    </button>
  </h2>

  <div class="card p-4">
    

    <div class="mb-3">
      <input
        placeholder="Search"
        type="text"
        class="form-control"
        [(ngModel)]="nom"
      />
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th>Image</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let blItem of Table">
          <td scope="row">{{ blItem.name }}</td>
          <td>{{ blItem.price }}</td>
         <td>
           
          <img [src]="blItem.imageUrl" alt="img" class="courseImage">
           
        </td>
       
          <td>
            <img src="../../../../assets/icon/edit.svg" alt="edit" (click)="Edit(blItem.idCourse)">
            <img src="../../../../assets/icon/trash.svg" alt="trash" (click)="delete(blItem.idCourse)">  {{ blItem.idCourse}}
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="Table.length === 0" class="text-center mt-3">
      No course found.
    </div>

    <p-confirmDialog header="Confirmation"></p-confirmDialog>

    <p-toast position="bottom-center"></p-toast>
    
  </div>
</div>
