<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Bridge | Home</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
    
    <!-- Bootstrap imports -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    <!-- Fontawesome imports -->
    <script src="https://kit.fontawesome.com/d651c9623e.js" crossorigin="anonymous"></script>


    
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="assets/img/LogoBridge.png" alt="" >
        </a>
    </nav>

<!-- HERO SECTION  -->
    <div class="hero-image">
        <div class="hero-text">
        <h1 class="h1 fw-bold" >
            Improve your skills on your own <br> To prepare for a better future
        </h1>
        <button class="primary-btn button-link" id="register">REGISTER NOW</button>
        </div>
    </div>
<!-- CONTENT SECTION  -->
    <div class="container">
    <!-- DISCOVER SECTION  -->
        <div class="row justify-content-between content-header">
            <h2 class="title col-10 fw-bold">Discover Our Courses</h2>
            <button class="col primary-btn button-link">View More</button>
        </div>

        <div class="row" >
            <div class="col-md-4  cardContainer">
                <div class="card">
                    <img src="assets/img/courses/AngularSpringImg.jpg" alt="Avatar" class="img-fluid course-img-card" >
                    <div class="container2">
                        <h4><b>Spring Boot / Angular</b></h4>
                        <p class="h5 fw-bold pricing">350 DT/Month</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4  cardContainer">
                <div class="card">
                    <img src="assets/img/courses/reactCourse.jpg" alt="Avatar" class="img-fluid course-img-card" >
                    
                    <div class="container2">
                        <h4><b>Node JS / React</b></h4>
                        <p class="h5 fw-bold pricing">350 DT/Month</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4  cardContainer">
                <div class="card">
                    <img src="assets/img/courses/flutterCourse.png" alt="Avatar" class="img-fluid course-img-card" >
                    <div class="container2">
                        <h4><b>Flutter / Firebase</b></h4>
                        <p class="h5 fw-bold pricing">350 DT/Month</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4  cardContainer">
                <div class="card">
                    <img src="assets/img/courses/BICourse.jpeg" alt="Avatar" class="img-fluid course-img-card" >
                    <div class="container2">
                        <h4><b>Business Intelligence</b></h4>
                        <p class="h5 fw-bold pricing">350 DT/Month</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4  cardContainer">
                <div class="card">
                    <img src="assets/img/courses/AICourse.jpg" alt="Avatar" class="img-fluid course-img-card" >
                    <div class="container2">
                        <h4><b>Artificial Intelligence</b></h4>
                        <p class="h5 fw-bold pricing">350 DT/Month</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4  cardContainer">
                <div class="card">
                    <img src="assets/img/courses/devopsCourse.png" alt="Avatar" class="img-fluid course-img-card" >
                    <div class="container2">
                        <h4><b>Devops</b></h4>
                        <p class="h5 fw-bold pricing">350 DT/Month</p>
                    </div>
                </div>
            </div>
            
        </div>
    
        
        <div class="container" id="contactSection">
            <div class="row justify-content-center" >
                <div class="col-md-6 contact-container">
                    <!-- Contact us title -->
                    <div class="row justify-content-center content-header">
                        <h2 class="title col-12 fw-bold text-center">Contact Us</h2>
                    </div>
        
                    <!-- Contact form -->
                    <form class="contact-form">
                        <div class="mb-3">
                            <label for="name" class="form-label">NAME</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Jiara Martins">
                        </div>
        
                        <div class="mb-3">
                            <label for="email" class="form-label">EMAIL</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="hello@reallygreatsite.com">
                        </div>
        
                        <div class="mb-3">
                            <label for="message" class="form-label">MESSAGE</label>
                            <textarea class="form-control" id="message" name="message" placeholder="Write your message here"></textarea>
                        </div>
        
                        <div class="text-center"> 
                            <button type="submit" class="btn btn-primary btn-contact">Send the message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
       
    </div>

</body>
</html>